@use './variables.scss' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var.$primary-text;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: var.$primary-bg;
  color: var.$primary-text;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 2.4rem 0;

  .mainTitleLink {
    color: var.$accent-orange;
    font-size: 4.6rem;
    font-weight: 600;
  }
}
