@use './variables.scss' as variables;

.post {
  margin-bottom: 2.4rem;

  &:last-child {
    margin: 0;
  }

  .postTitle {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
  }

  .postBody {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }

  .bottom {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 1.2rem;

    .likeDislikeBtns {
      display: flex;
      gap: 0.2rem;

      .dislike {
        border-radius: 0 1.6rem 1.6rem 0;

        &.disliked {
          background-color: variables.$primary-text;
          color: variables.$primary-bg;

          .amount {
            color: variables.$primary-bg;
          }
        }
      }

      .like {
        border-radius: 1.6rem 0 0 1.6rem;

        &.liked {
          color: variables.$primary-bg;
          background-color: variables.$accent-liked;

          .amount {
            color: variables.$primary-bg;
          }
        }
      }

      .dislike,
      .like {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        padding: 0.6rem 1.2rem;
        font-size: 1.4rem;
        transition: background-color 0.2s linear;
        background-color: variables.$secondary-bg;

        &:active {
          transform: scale(0.99);
        }

        .amount {
          margin-left: 0.4rem;
          color: variables.$secondary-text;
        }
      }
    }

    .postLink {
      font-size: 1.4rem;
      color: variables.$accent-orange;
    }

    .date {
      color: variables.$secondary-text;
    }

    .tags {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;

      .initialTag {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        border-right: 6px solid variables.$secondary-bg;
        margin-right: -0.2rem;
      }

      .tag {
        display: flex;
        align-items: center;
        background-color: variables.$secondary-bg;
        padding: 0.2rem 1.2rem;

        &:last-child {
          border-radius: 0 0.4rem 0.4rem 0;
        }
      }
    }
  }
}
