$primary-bg: #faf8f5;
$secondary-bg: #edeceb;
$primary-text: #191918;
$secondary-text: #c8c6c4;
$accent-orange: #e49b07;

@mixin fillAvailableWidth {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}
